{
  "plugins": ["react", "react-hooks", "babel", "jsx-a11y", "import"],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "mocha": true,
    "jest/globals": true,
    "amd": true
  },
  "extends": ["airbnb", "plugin:react-hooks/recommended", "plugin:jest/recommended"],
  "rules": {
    "linebreak-style": "off",
    "comma-dangle": ["error", "always-multiline"],
    "no-console": "off",
    "no-magic-numbers": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-props-no-spreading": "off",
    "import/no-unresolved": "off",
    "operator-linebreak": "off",
    "no-confusing-arrow": "off",
    "no-param-reassign": ["error", { "props": false }],
    "object-curly-newline": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-no-bind": "off",
    "react/react-in-jsx-scope": "off",
    "import/no-extraneous-dependencies": "off",
    "import/extensions": "off",
    "max-len": [
      "error",
      {
        "code": 120,
        "ignoreComments": true,
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreRegExpLiterals": true
      }
    ]
  }
}
