.sidebar {
  width: 180px;
  height: calc(100vh - 20px);
  padding: 10px;
  background: lightblue;

  .sidebar-item {
    padding: 10px;
    cursor: pointer;

    &.selected {
      background: white;
      color: dodgerblue;
    }

    &:hover {
      background: lightsteelblue;
    }
  }
}